.alert p {
    padding-left: 1rem;
    padding-right: 1rem;
}

.alert-warning {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #ffe4e7;
    background-color: #f03c4e2c;
    border: solid;
    border-color: #f84f60;
}

.alert-success {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #caffd6;
    background-color: #31ee5d2a;
    border: solid;
    border-color: #3ce263;
}

.alert-primary {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #FE938C;
    background-color: #ffb1b123;
    border: solid;
    border-color: #FE938C;
}

.alert-secondary {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #d0fff2;
    background-color: #d3fff328;
    border: solid;
    border-color: #D3FFF3;
}

.alert-warning a {
    font-weight: bold;
    color: #f84f60;
}

.alert-success a {
    font-weight: bold;
    color: #3ce263;
}

.alert-primary a {
    font-weight: bold;
    color: #ffd4d1;
}

.alert-secondary a {
    font-weight: bold;
    color: #a8ffe8;
}