.container {
    margin-top: 2.5rem;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0.5rem;
    width: 135px;
    height: 50px;
    border: solid;
    border-width: 0.3rem;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    /* transition: ease-out 0.3s; */
    transition-duration: 0.3s;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.btn-about:hover {
    cursor: pointer;
    /* border-width: 0.5rem; */
    transform: scale(1.1);
}

.btn-pink {
    border-color: #FE938C;
    color: #FE938C;
}

.btn-pink:hover {
    background: #fe948c36;
}

.btn-blue {
    border-color: #D3FFF3;
    color: #D3FFF3;
}

.btn-blue:hover {
    background: #d3fff32d;
}