.container {
    margin-top: 2rem;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.btn-about {
    margin: 0.5rem;
    width: 150px;
    height: 60px;
    border-width: 0.3rem;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    transition: ease-out 0.3s;
    font-size: 1.3rem;
}

.btn-about:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.btn-pink {
    border-color: #FE938C;
    color: #FE938C;
}

.btn-pink:hover {
    background: #fe948c36;
}

.btn-blue {
    border-color: #D3FFF3;
    color: #D3FFF3;
}

.btn-blue:hover {
    background: #d3fff32d;
}