.writer {
    display: grid;
    place-content: center;
}

.writer-txt {
    position: relative;
    font-family: "Source Code Pro", monospace;
    /* font-size: 2rem; */
}

.writer-txt::before,
.writer-txt::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.writer-txt::before {
    background: #36393F;
    animation: typewriter 4s steps(23) 1s forwards;
}

.writer-txt::after {
    width: 0.125em;
    background: #FE938C;
    animation: typewriter 4s steps(23) 1s forwards, blink 750ms steps(23) infinite;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}
