@import "colors.scss";

.project {
    .macaron {
        position: absolute;
        bottom: 0;
        right: 45px;
        margin: 0.5rem;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0.6rem;
        padding-right: 0.6rem;
        color: $accent_color;
        border-radius: 0.5rem;
    }
    h1 {
        color: $accent_color;
        padding: 0;
        margin: 0;
        margin-bottom: 0.8rem;
    }
    p {
        padding: 0;
        margin: 0;
        color: $accent_text;
        text-align: justify;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    a {
        color: $accent_text;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0.5rem;
        height: 40px;
        width: 40px;
        font-size: 1.5rem;
        background-color: $accent_color;
        border-radius: 0.5rem;
        transition: scale 0.2s;
        &:hover {
            scale: 1.1;
        }
    }
    .infos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 4rem;
        margin: 1rem;
        padding: 1rem;
        padding-bottom: 3rem;
        background: $nav_back;
        backdrop-filter: blur(30px);
        border-radius: 1rem;
        max-width: 50rem;
        box-shadow: #00000034 0rem 0.5rem 0.5rem;
    }
    img {
        position: absolute;
        animation: float 2s ease-in-out infinite;
        @keyframes float {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-0.5rem);
            }
            100% {
                transform: translateY(0);
            }
        }
        &.bottom {
            bottom: 0;
        }
        &.height_100 {
            height: 100vh;
        }
        &.height_80 {
            height: 80vh;
        }
        &.radius_1 {
            border-radius: 1rem;
        }
        @media only screen and (max-width: 600px) {
            &.width_80_xs {
                width: 80vw;
                height: auto;
            }
        }
    }
}
