@import "colors.scss";
.back {
    position: fixed;
    top: 0;
    height: 100vh;
    filter: blur(2px);
    opacity: 0.5;
    animation: fadeIn 0.5s;
    display: flex;
    justify-content: center;
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 0.5;
        }
    }
    &.dark {
        filter: blur(2px) brightness(0.1);
    }
}

.project {
    .macaron {
        position: absolute;
        top: 0;
        right: -22px;
        rotate: 15deg;
        background: $accent_color;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border-radius: 1rem;
        box-shadow: 0rem 0rem 2rem 0.8rem rgba(0, 0, 0, 0.2);
        color: $accent_text;
    }
    h1 {
        color: $accent_color;
        padding: 0;
        margin: 0;
        margin-bottom: 0.8rem;
    }
    p {
        padding: 0;
        margin: 0;
        color: $accent_text;
        text-align: justify;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    a {
        color: $accent_text;
        text-decoration: none;
        background: $accent_color;
        padding: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        position: absolute;
        bottom: 0;
        border-radius: 1rem 1rem 0 0;
        transition: scale 0.2s;
        &:hover {
            scale: 1.05 1;
        }
    }
    .infos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 4rem;
        margin: 1rem;
        padding: 1rem;
        padding-bottom: 4rem;
        background: $nav_back;
        backdrop-filter: blur(20px);
        border-radius: 1rem;
        max-width: 50rem;
        border: solid $accent_color 0.2rem;
        box-shadow: 0rem 0rem 2rem 0.8rem rgba(0, 0, 0, 0.466);
    }
    img {
        position: absolute;
        animation: float 2s ease-in-out infinite;
        @keyframes float {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-0.5rem);
            }
            100% {
                transform: translateY(0);
            }
        }
        &.bottom {
            bottom: 0;
        }
        &.height_100 {
            height: 100vh;
        }
        &.height_80 {
            height: 80vh;
        }
        &.radius_1 {
            border-radius: 1rem;
        }
        @media only screen and (max-width: 600px) {
            &.width_80_xs {
                width: 80vw;
                height: auto;
            }
        }
    }
}
